
GtkButton GtkLabel{
    color: #000000;
    background-color: #ff0000;
}
GtkLabel{
    color: #ffffff;
    background-color: #ff0000;
}

GtkEntry{
    color: #000000;
    background-color: #ff0000;
}
GtkWindow{
	background-image: -gtk-gradient (linear, left top, 
	left bottom, 
	from (#666666),
    to (#000000));
}

.button {
  padding: 2;
}

